body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: andale mono;
}

.calculator-grid {
    display: grid;
    align-content: center;
    min-height: 10vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
    padding: 10px;
    background-color: lightblue;
    border-radius: 15px;
}

.calculator-grid > button {
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    background-color:hotpink;
    font-size: 1.5rem;
    border-radius: 15px;
    margin: 5px;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 /-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    margin: 5px;
}

.output .previous-operand {
    color: white;
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}